/*
@Author: Ezequiel-Plyom
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify main-style.css file.

*/

/* Your custom css codes start here: */

.heigth-box {
	height: 197px !important;
}
#titleMain {
	font-size: 36px !important;
}
@media (max-width: 800px) {
	#titleMain, #imageLogo {
		text-align: center !important;
	}
	#imageLogo {
		position: relative !important;
    top: 30px !important;
	}
}
